.grid { display: grid;
        grid-template-columns: repeat(4, 1fr);

}
#display{ display:flex;
          background: black;
          align-items:flex-end;
          flex-direction: column;
          flex : 1;

}
#storedOperand{ background:lightblue;
                opacity: .75;
                text-align: right;
}
#operand{ background: lightblue;
          text-align: right;

}

.clear { width: 100%;
         text-align: center;
         margin: auto;
         background: yellow;
         opacity: .5;

}
.hover{
}
