*{
    box-sizing: border-box;
}
.grid { display: grid;
        grid-template-columns: repeat(4, 1fr);
}
#display{ display:flex;
          background: lightgrey;
          align-items:flex-end;
          flex-direction: column;
          flex : 1;

}
.clear { width: 100%;
         text-align: center;
         margin: auto;

}
.hover{
    background: red;
}